## Your approach

In [2]:
from vnstock_next.main import *

# Instantiate DNSE with a specific symbol
DNSE = DNSE(symbol='TCB')

# Set parameters for data retrieval
start_date = '2023-06-01'
end_date = '2023-06-17'
resolution = '1D'
type = 'stock'

# Call the download method to retrieve historical price data
DNSE.candles.download(start_date=start_date, end_date=end_date, resolution=resolution, type=type)

          time   open   high    low  close    volume ticker
0   2023-06-01  30.00  30.30  29.75  30.30   4776200    TCB
1   2023-06-02  30.80  32.20  30.70  32.20  13798700    TCB
2   2023-06-05  32.45  32.80  31.90  31.90   5861900    TCB
3   2023-06-06  31.90  32.70  31.75  32.70   6000100    TCB
4   2023-06-07  32.55  32.75  32.20  32.60   4964100    TCB
5   2023-06-08  32.70  32.75  31.75  31.75   5741200    TCB
6   2023-06-09  31.80  32.50  31.60  32.40   5315500    TCB
7   2023-06-12  32.25  32.85  31.90  32.70   4136800    TCB
8   2023-06-13  32.70  32.90  32.40  32.80   3529000    TCB
9   2023-06-14  33.00  33.45  32.55  32.60   5374800    TCB
10  2023-06-15  32.60  32.90  32.40  32.65   3863700    TCB
11  2023-06-16  32.65  33.45  32.50  32.55   6928400    TCB

## My approach

In [3]:
import vnstock_next.aj as vnstock

# Select ticker
tcb = vnstock.Ticker("tcb")

# get historical market data
tcb.history(interval = "1D", start_date = '2023-06-01', end_date = '2023-06-17', provider = "dnse")

          time   open   high    low  close    volume ticker
0   2023-06-01  30.00  30.30  29.75  30.30   4776200    TCB
1   2023-06-02  30.80  32.20  30.70  32.20  13798700    TCB
2   2023-06-05  32.45  32.80  31.90  31.90   5861900    TCB
3   2023-06-06  31.90  32.70  31.75  32.70   6000100    TCB
4   2023-06-07  32.55  32.75  32.20  32.60   4964100    TCB
5   2023-06-08  32.70  32.75  31.75  31.75   5741200    TCB
6   2023-06-09  31.80  32.50  31.60  32.40   5315500    TCB
7   2023-06-12  32.25  32.85  31.90  32.70   4136800    TCB
8   2023-06-13  32.70  32.90  32.40  32.80   3529000    TCB
9   2023-06-14  33.00  33.45  32.55  32.60   5374800    TCB
10  2023-06-15  32.60  32.90  32.40  32.65   3863700    TCB
11  2023-06-16  32.65  33.45  32.50  32.55   6928400    TCB